In [1]:
import numpy as np
import pandas as pd

In [3]:
df_new_obs = pd.read_csv("Absenteeism_predictions.csv")

In [4]:
df_new_obs.head()

,reason_1,reason_2,reason_3,reason_4,month_value,transportation_expense,age,body_mass_index,education,children,pets,probability,prediction
0,0,0,0,1,6,179,30,19,1,0,0,0.105075,0
1,1,0,0,0,6,361,28,27,0,1,4,0.810120,1
2,0,0,0,1,6,155,34,25,0,2,0,0.241170,0
3,0,0,0,1,6,179,40,22,1,2,0,0.160729,0
4,1,0,0,0,6,155,34,25,0,2,0,0.751491,1

In [13]:
len(df_new_obs)

40

## Building connection between jupiter notebook and mysql

In [6]:
!pip install pymysql

Collecting pymysql
  Downloading PyMySQL-1.1.0-py3-none-any.whl (44 kB)
                                              0.0/44.8 kB ? eta -:--:--
     ----------------------------------     41.0/44.8 kB 653.6 kB/s eta 0:00:01
     -------------------------------------- 44.8/44.8 kB 734.6 kB/s eta 0:00:00
Installing collected packages: pymysql
Successfully installed pymysql-1.1.0

In [7]:
import pymysql

In [9]:
conn =pymysql.connect(database = 'predicted_outputs', user='root',password='password',host='localhost',port=1234)

In [10]:
conn.commit()

In [11]:
#Create a new cursor to execute queries with.
cursor=conn.cursor()

In [12]:
cursor.execute('select * from predicted_outputs;')

40

In [14]:
insert_query="insert into predicted_outputs values"

In [15]:
insert_query

'insert into predicted_outputs values'

In [16]:
df_new_obs.shape

(40, 13)

In [17]:
df_new_obs.columns.values

array(['reason_1', 'reason_2', 'reason_3', 'reason_4', 'month_value',
       'transportation_expense', 'age', 'body_mass_index', 'education',
       'children', 'pets', 'probability', 'prediction'], dtype=object)

In [18]:
df_new_obs.columns.values[6]

'age'

In [19]:
df_new_obs[df_new_obs.columns.values[6]]

0     30
1     28
2     34
3     40
4     34
5     28
6     46
7     30
8     37
9     37
10    36
11    50
12    31
13    30
14    48
15    33
16    50
17    30
18    40
19    30
20    37
21    31
22    37
23    37
24    31
25    43
26    31
27    58
28    37
29    58
30    33
31    37
32    28
33    28
34    31
35    33
36    37
37    40
38    39
39    53
Name: age, dtype: int64

In [20]:
df_new_obs[df_new_obs.columns.values[6]][0]

30

In [21]:
for i in range (df_new_obs.shape[0]):
    insert_query += '('
    for j in range (df_new_obs.shape[1]):
        insert_query += str(df_new_obs[df_new_obs.columns.values[j]][i]) + ', '
    
    insert_query=insert_query[:-2] + '), '

In [22]:
insert_query

'insert into predicted_outputs values(0, 0, 0, 1, 6, 179, 30, 19, 1, 0, 0, 0.105075, 0), (1, 0, 0, 0, 6, 361, 28, 27, 0, 1, 4, 0.81012, 1), (0, 0, 0, 1, 6, 155, 34, 25, 0, 2, 0, 0.24117, 0), (0, 0, 0, 1, 6, 179, 40, 22, 1, 2, 0, 0.160729, 0), (1, 0, 0, 0, 6, 155, 34, 25, 0, 2, 0, 0.751491, 1), (1, 0, 0, 0, 6, 225, 28, 24, 0, 1, 2, 0.692978, 1), (1, 0, 0, 0, 6, 118, 46, 25, 0, 2, 0, 0.63296, 1), (0, 0, 0, 1, 6, 179, 30, 19, 1, 0, 0, 0.105075, 0), (0, 0, 0, 1, 6, 118, 37, 28, 0, 0, 0, 0.133915, 0), (1, 0, 0, 0, 6, 118, 37, 28, 0, 0, 0, 0.595337, 1), (0, 0, 0, 1, 6, 378, 36, 21, 0, 2, 4, 0.286105, 0), (0, 0, 1, 0, 6, 118, 50, 31, 0, 1, 0, 0.756993, 1), (0, 0, 1, 0, 6, 233, 31, 21, 1, 1, 8, 0.221894, 0), (0, 0, 0, 1, 6, 179, 30, 19, 1, 0, 0, 0.105075, 0), (0, 0, 0, 0, 6, 235, 48, 33, 0, 1, 5, 0.0665591, 0), (0, 0, 0, 0, 6, 268, 33, 25, 1, 0, 0, 0.188043, 0), (0, 0, 1, 0, 6, 118, 50, 31, 0, 1, 0, 0.756993, 1), (1, 0, 0, 0, 6, 179, 30, 19, 1, 0, 0, 0.527669, 1), (0, 0, 0, 1, 6, 291, 40, 25, 0, 1, 1, 0.326469, 0), (1, 0, 0, 0, 7, 179, 30, 19, 1, 0, 0, 0.543492, 1), (0, 0, 0, 1, 7, 118, 37, 28, 0, 0, 0, 0.141467, 0), (0, 0, 0, 1, 7, 233, 31, 21, 1, 1, 8, 0.017512, 0), (1, 0, 0, 0, 7, 118, 37, 28, 0, 0, 0, 0.610567, 1), (1, 0, 0, 0, 7, 118, 37, 28, 0, 0, 0, 0.610567, 1), (0, 0, 0, 1, 7, 233, 31, 21, 1, 1, 8, 0.017512, 0), (0, 0, 0, 1, 7, 235, 43, 38, 0, 1, 0, 0.477286, 0), (0, 0, 1, 0, 7, 233, 31, 21, 1, 1, 8, 0.233072, 0), (1, 0, 0, 0, 7, 228, 58, 22, 0, 2, 1, 0.683749, 1), (0, 0, 0, 1, 7, 118, 37, 28, 0, 0, 0, 0.141467, 0), (1, 0, 0, 0, 7, 228, 58, 22, 0, 2, 1, 0.683749, 1), (0, 0, 0, 1, 7, 189, 33, 25, 0, 2, 2, 0.187752, 0), (0, 0, 0, 1, 7, 118, 37, 28, 0, 0, 0, 0.141467, 0), (0, 0, 0, 1, 7, 361, 28, 27, 0, 1, 4, 0.323344, 0), (0, 0, 0, 1, 7, 225, 28, 24, 0, 1, 2, 0.201788, 0), (1, 0, 0, 0, 7, 369, 31, 25, 0, 3, 0, 0.964602, 1), (1, 0, 0, 0, 7, 289, 33, 30, 0, 2, 1, 0.906619, 1), (1, 0, 0, 0, 7, 235, 37, 29, 1, 1, 1, 0.731839, 1), (0, 0, 0, 0, 7, 118, 40, 34, 0, 1, 8, 0.0123691, 0), (0, 0, 0, 0, 7, 231, 39, 35, 0, 2, 2, 0.266691, 0), (0, 0, 0, 0, 7, 179, 53, 25, 0, 1, 1, 0.0960732, 0), '

In [23]:
insert_query = insert_query[:-2] + ';'

In [24]:
insert_query

'insert into predicted_outputs values(0, 0, 0, 1, 6, 179, 30, 19, 1, 0, 0, 0.105075, 0), (1, 0, 0, 0, 6, 361, 28, 27, 0, 1, 4, 0.81012, 1), (0, 0, 0, 1, 6, 155, 34, 25, 0, 2, 0, 0.24117, 0), (0, 0, 0, 1, 6, 179, 40, 22, 1, 2, 0, 0.160729, 0), (1, 0, 0, 0, 6, 155, 34, 25, 0, 2, 0, 0.751491, 1), (1, 0, 0, 0, 6, 225, 28, 24, 0, 1, 2, 0.692978, 1), (1, 0, 0, 0, 6, 118, 46, 25, 0, 2, 0, 0.63296, 1), (0, 0, 0, 1, 6, 179, 30, 19, 1, 0, 0, 0.105075, 0), (0, 0, 0, 1, 6, 118, 37, 28, 0, 0, 0, 0.133915, 0), (1, 0, 0, 0, 6, 118, 37, 28, 0, 0, 0, 0.595337, 1), (0, 0, 0, 1, 6, 378, 36, 21, 0, 2, 4, 0.286105, 0), (0, 0, 1, 0, 6, 118, 50, 31, 0, 1, 0, 0.756993, 1), (0, 0, 1, 0, 6, 233, 31, 21, 1, 1, 8, 0.221894, 0), (0, 0, 0, 1, 6, 179, 30, 19, 1, 0, 0, 0.105075, 0), (0, 0, 0, 0, 6, 235, 48, 33, 0, 1, 5, 0.0665591, 0), (0, 0, 0, 0, 6, 268, 33, 25, 1, 0, 0, 0.188043, 0), (0, 0, 1, 0, 6, 118, 50, 31, 0, 1, 0, 0.756993, 1), (1, 0, 0, 0, 6, 179, 30, 19, 1, 0, 0, 0.527669, 1), (0, 0, 0, 1, 6, 291, 40, 25, 0, 1, 1, 0.326469, 0), (1, 0, 0, 0, 7, 179, 30, 19, 1, 0, 0, 0.543492, 1), (0, 0, 0, 1, 7, 118, 37, 28, 0, 0, 0, 0.141467, 0), (0, 0, 0, 1, 7, 233, 31, 21, 1, 1, 8, 0.017512, 0), (1, 0, 0, 0, 7, 118, 37, 28, 0, 0, 0, 0.610567, 1), (1, 0, 0, 0, 7, 118, 37, 28, 0, 0, 0, 0.610567, 1), (0, 0, 0, 1, 7, 233, 31, 21, 1, 1, 8, 0.017512, 0), (0, 0, 0, 1, 7, 235, 43, 38, 0, 1, 0, 0.477286, 0), (0, 0, 1, 0, 7, 233, 31, 21, 1, 1, 8, 0.233072, 0), (1, 0, 0, 0, 7, 228, 58, 22, 0, 2, 1, 0.683749, 1), (0, 0, 0, 1, 7, 118, 37, 28, 0, 0, 0, 0.141467, 0), (1, 0, 0, 0, 7, 228, 58, 22, 0, 2, 1, 0.683749, 1), (0, 0, 0, 1, 7, 189, 33, 25, 0, 2, 2, 0.187752, 0), (0, 0, 0, 1, 7, 118, 37, 28, 0, 0, 0, 0.141467, 0), (0, 0, 0, 1, 7, 361, 28, 27, 0, 1, 4, 0.323344, 0), (0, 0, 0, 1, 7, 225, 28, 24, 0, 1, 2, 0.201788, 0), (1, 0, 0, 0, 7, 369, 31, 25, 0, 3, 0, 0.964602, 1), (1, 0, 0, 0, 7, 289, 33, 30, 0, 2, 1, 0.906619, 1), (1, 0, 0, 0, 7, 235, 37, 29, 1, 1, 1, 0.731839, 1), (0, 0, 0, 0, 7, 118, 40, 34, 0, 1, 8, 0.0123691, 0), (0, 0, 0, 0, 7, 231, 39, 35, 0, 2, 2, 0.266691, 0), (0, 0, 0, 0, 7, 179, 53, 25, 0, 1, 1, 0.0960732, 0);'

In [25]:
cursor.execute(insert_query)

40

In [26]:
conn.commit()

In [27]:
conn.close()